<div class="image-section">
    <div class="image-navigator">
        <div class="image-navigator-side prev">
            <div class="button-wrapper">
                {{!-- <img src="../assets/icons/prev-button.svg" alt="Previous Image"> --}}
                <svg xmlns="http://www.w3.org/2000/svg" width="103.761" height="36.756" viewBox="0 0 103.761 36.756">
                    <g id="prev-button" transform="translate(-1.5 12)">
                        <path id="Path_7" data-name="Path 7" d="M105.261,26.72H2L9.8,18" transform="translate(0 -2.464)" fill="none" stroke="#1f1f1f" stroke-linejoin="round" stroke-width="1"/>
                        <text id="PREV" transform="translate(30.157 15)" fill="#1f1f1f" font-size="25" font-family="Playfair Display" letter-spacing="0.1em"><tspan x="0" y="0">PREV</tspan></text>
                    </g>
                </svg>
            </div>
            
        </div>
        <div class="image-mask">
            <div class="images-wrapper">
                {{#get "posts" filter="tags:{{tag}}"}}

                    {{#foreach posts}}

                        <img src="{{img_url feature_image}}" alt="">

                    {{/foreach}}

                {{/get}}
            </div>
            
            {{!-- <img src="../assets/icons/Placeholder.jpg" alt="Placeholder Image"> --}}
        </div>
        <div class="image-navigator-side next">
            <div class="button-wrapper">
                {{!-- <img src="../assets/icons/next-button.svg" alt="Next Image"> --}}
                <svg xmlns="http://www.w3.org/2000/svg" width="101.829" height="36.756" viewBox="0 0 101.829 36.756">
                    <g id="next-button" transform="translate(0.019 13)">
                        <path id="Path_5" data-name="Path 5" d="M0,26.5H100.711L93.1,18" transform="translate(-0.019 -3.249)" fill="none" stroke="#1f1f1f" stroke-width="1"/>
                        <text id="NEXT" transform="translate(0.312 12)" fill="#1f1f1f" font-size="23" font-family="Playfair Display" letter-spacing="0.1em"><tspan x="0" y="0">NEXT</tspan></text>
                    </g>
                </svg>
            </div>
            
        </div>
    </div>
</div>