<div class="image-section">
    <div class="image-navigator">
        <div class="image-navigator-side prev">
            <div class="button-wrapper">
                <img src="../assets/icons/prev-button.svg" alt="Previous Image">
            </div>
            
        </div>
        <div class="image-mask">
            <div class="images-wrapper">
                {{#get "posts" filter="tags:{{tag}}"}}

                    {{#foreach posts}}

                        <img src="{{img_url feature_image}}" alt="">

                    {{/foreach}}

                {{/get}}
            </div>
            
            {{!-- <img src="../assets/icons/Placeholder.jpg" alt="Placeholder Image"> --}}
        </div>
        <div class="image-navigator-side next">
            <div class="button-wrapper">
                <img src="../assets/icons/next-button.svg" alt="Next Image">
            </div>
            
        </div>
    </div>
</div>