{{!< default}}

<div class="legal-text">
    <h1>Privacy Policy</h1>
    <h2>Business Contact Information</h2>
    <p>Name: Jamie Appleby</p>
    <p>Contact: jamieapplebyphotography@gmail.com</p>

    <h2>The Data I Collect</h2>
    <p>I only collect the data which is necessary for communicating with you throughout our project:</p>
    <ul>
        <li>Full name</li>
        <li>Email address</li>
        <li>Phone number</li>
    </ul>

    <p>I will hold onto your information as long as you continue to be a client with me. If you know longer wish to be a client of mine, you can contact <a href="mailto:jamieapplebyphotography@gmail.com">jamieapplebyphotography@gmail.com</a> and request that I delete your data.

    I use your data such as phone number or email address to be able to communicate with you throughout the process, discuss and share ideas.</p>

    <h2>Cookies</h2>
    <p>This website doesn't use cookies</p>

    <h2>Securing Your Data</h2>
    <p>The data sent to me via the contact form is transferred using secure endpoints which ensure your data is safe. After that, it will be held in highly modern and secure cloud services.</p>

    <h2>Your Rights</h2>
    <p>You have many rights relating to your personal data:</p>
    <ul>
        <li>The right to be informed about how your personal information is being used</li>
        <li>The right to access the personal information we hold about you</li>
        <li>The right to request correction of inaccurate data about you</li>
        <li>The right to request that I delete your data, or stop processing or collecting it</li>
        <li>The right to ask me to explain any computer system decision about you</li>
        <li>The right to complain to your data protection regulator</li>
    </ul>
</div>