.image-section {

    height: calc(100vh - 32px);
    margin: 16px auto;

    .image-navigator {

        height: 100%;
        display: flex;
        justify-content: center;

        .image-navigator-side {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            .button-wrapper {
                z-index: 97;
                padding: 10px;
                margin-bottom: 90px;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;

                img {
                    height: 32px;
                }
                
            }
        }

        .image-mask {
            overflow: hidden;

            .images-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .image-container {
                    // max-width: calc(calc(calc(100vh - 32px) / 5) * 4);
                    max-width: calc(100vh - 0px);
                    min-height: 100%;
                    
                    padding: 0 45px;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        object-fit: contain;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .image-section {
        height: calc(100vh - 40px);
        width: 100%;
        margin: 20px;
        padding: 0;
    }
    .image-mask {
        margin-bottom: 7.5vh;
    }
    .images-wrapper {
        width: 100%;
        .image-container {
            width: 100%;
            padding: 0 !important;
            // max-height: calc(100vh - 150px) !important;

            img {
                width: 100%;
            }
        }

        .image-mask {
            height: auto;
        }
    }

    .image-navigator-side {
        position: absolute;

        .button-wrapper {
            padding: 10px;
            margin: 0 !important;

            img {
                height: 32px;
            }
            
        }
    }

    .prev {
        bottom: 20px;
        left: 10px;
    }

    .next {
        bottom: 20px;
        right: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .image-container {
        img {
            max-height: calc(100vh - 170px)
        }
    }
}